html, body {
    padding: 0;
    margin: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
}

.ui {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: #f90;
}

.ui > menu.top {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.ui > menu.top > * {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.ui > h1 {
    bottom: auto;
    height: auto;
    top: 1rem;

    text-align: center;

    z-index: -100;
}

.ui > menu.top > .fps-counter {
    top: 1rem;
    left: 1em;
    width: 4em;
    line-height: 4rem;
    height: 4rem;
    font-size: 2rem;
    text-align: center;
    border: 1px solid #ff8800ff;
    background: #ff880022;

    cursor: pointer;
}

.ui > menu.top > .mode {
    top: 1rem;
    right: 1em;
    left: auto;

    line-height: 4rem;
    height: 4rem;
    font-size: 2rem;
    text-align: center;
}

.ui > menu.top > .mode > * {
    cursor: pointer;
    border: 1px solid #ff8800ff;
    background: #ff880022;
    display: inline-block;
    width: 2em;
    text-align: center;
    margin-left: -1px;
}

.ui > menu.bottom {
    position: fixed;
    left: 0;
    right: 0;
    top: auto;
    bottom: 2rem;
    overflow: hidden;
    text-align: center;
}

.ui > menu.bottom > * {
    cursor: pointer;
    border: 1px solid #ff8800ff;
    background: #ff880022;
    display: inline-block;
    padding: 0 1em;
    text-align: center;
    margin-left: -1px;
}

.dark {
    background-color: black;
}

.dark .ui {
    color: #da0;
}

#canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
